{% extends 'base.html' %}

{% block title %}Roster | Ashland Water Polo{% endblock %}

{% block content %}
    <h2>Rosters</h2>
    <div style="margin-left: 1em;">
        <h3>{{ bteam }} Team</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th class="col-xs-1">Number</th>
                <th class="col-xs-5">Name</th>
                <th class="col-xs-4">Position</th>
                <th class="col-xs-2">Grad Year</th>
            </tr>
            {% for boy in boys %}
                <tr>
                    <td class="text-center">{{ boy.number }}</td>
                    <td>{{ boy }}</td>
                    <td>{{ boy.position }}</td>
                    <td>{{ boy.grad_year }}</td>
                </tr>
            {% empty %}
                <h5>No boys found in boys list</h5>
            {% endfor %}
        </table>

        <h3>{{ gteam }} Team</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th class="col-xs-1">Number</th>
                <th class="col-xs-5">Name</th>
                <th class="col-xs-4">Position</th>
                <th class="col-xs-2">Grad Year</th>
            </tr>
            {% for girl in girls %}
                <tr>
                    <td class="text-center">{{ girl.number }}</td>
                    <td>{{ girl }}</td>
                    <td>{{ girl.position }}</td>
                    <td>{{ girl.grad_year }}</td>
                </tr>
            {% empty %}
                <h5>No girls found in girls list</h5>
            {% endfor %}
        </table>
    </div>
{% endblock %}