{% load staticfiles %}
{% load common_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">

        <title>{% block title %}Ashland Water Polo{% endblock %}</title>
    </head>
    <body>
        <!-- Start navbar -->
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ashland Water Polo</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% active_page request 'roster' %}"><a href="/roster/">Roster</a></li>
                        <li class="{% active_page request 'coaches' %}"><a href="/coaches/">Coaches</a></li>
                        <li class="{% active_page request 'schedule' %}"><a href="/schedule/">Schedule/Results</a></li>
                        <li class="{% active_page request 'photos' %}"><a href="/photos/">Photos</a></li>
                        <li class="{% active_page request 'resources' %}"><a href="/resources/">Resources</a></li>
                    </ul>
                </div>
            </div>            
        </nav>
        <!-- End navbar -->
        
        <div class="container maincontent">
            <!-- Main content from Django -->
            {% block content %}{% endblock %}

            <footer class="hidden-xs">
                Developed by <a href="http://jakegavin.net">Jake Gavin</a>  &sdot;  
                Built with <a href="http://getbootstrap.com">Bootstrap</a>  &sdot;  
                Based on a <a href="http://bootswatch.com/cyborg/">Bootswatch Theme</a>  &sdot;  
                Images by <a href="https://plus.google.com/116256894601669480810/posts">Alex Georgivitch</a>
                </footer>
            </footer>
        </div>


        <!-- Load JavaScript last -->
        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/lightbox-2.6.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/offcanvas.js' %}"></script>
    </body>
</html>