{% extends 'base.html' %}

{% block title %}Photos | Ashland Water Polo{% endblock %}

{% block content %}
    <h2>Photos</h2>
    <div style="text-align: center; margin-left: 1em;">
        {% for group, images in image_sets %}
            <h4 style="text-align: left;">{{ group }}</h4>
            {% for image in images %}
                <a href="{{ image.image_url }}" data-lightbox="{{ group }}" title="{{ group }}"><img class="Group" src="{{ image.thumbnail_url }}"></a>
            {% empty %}
                <small>There are no images in the group {{ group }}.</small>
            {% endfor %}
        {% empty %}
            <p>There are no active image galleries. Please check back later.</p>
        {% endfor %}
        <br><br>
        <p style="text-align: center;">For more photos, please visit Aled Georgivitch's <a href="https://plus.google.com/116256894601669480810/photos">
    Google+ image gallery</a>.</p>
    </div>



{% comment %}
{% for group in groups %}
{% if group.hidden == False %}
<h2> {{ group }}</h2>
<div style="text-align: center; margin-left: 1em;">
{% for image in images %}
{% if image.group == group and image.hidden == False %}
<a href="{{ image.image_url }}" data-lightbox="{{ group }}" title="{{ group }}">
<img class="Group" src="{{ image.thumbnail_url }}" />
</a>
{% endif %}
{% endfor %}
</div>
{% endif %}
{% endfor %}
<br>
<p style="text-align: center;">For more photos, please visit Aled Georgivitch's <a href="https://plus.google.com/116256894601669480810/photos">
Google+ image gallery</a>.</p>
{% endcomment %}
{% endblock %}